@import "colors.css";

* {
  background-color: @background;
  color: @primary;
  border: none;
  border-radius: 0;
  min-height: 0; font-family: JetBrainsMono Nerd Font Propo;
  font-size: 14px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
  opacity: 0.5;
}

#workspaces button.empty {
  opacity: 0.1;
}

#workspaces button.active {
  opacity: 1;
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#tray {
  min-width: 12px;
  margin: 0 8px;
}

#custom-xkblayout {
  color: @primary;
  font-size: 16px;
}

#custom-xkblayout.english {
  color: @primary;
}

#custom-xkblayout.turkish {
  color: @secondary_fixed;
}

#custom-obs-audio.muted {
  color: @secondary_fixed;
}

#idle_inhibitor.activated {
  color: @secondary_fixed;
}

#custom-packages.low {
  color: @primary; 
}

#custom-packages.mid {
  color: @secondary_fixed;
}

#custom-packages.high {
  color: @error;
}

#custom-separator.line {
  color: @tertiery;
}

#tooltip {
  padding: 2px;
}


.hidden {
  opacity: 0;
}
