@import "colors.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 14px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
  opacity: 0.5;
}

#workspaces button.empty {
  opacity: 0.1;
}

#workspaces button.active {
  opacity: 1;
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio {
  min-width: 12px;
  margin: 0 8px;
}


#custom-xkblayout {
  color: #ffffff;
  font-size: 16px;
}

#custom-xkblayout.english {
  color: @foreground;
}

#custom-xkblayout.turkish {
  color: @red;
}

#custom-xkblayout.german {
  color: @yellow;
}

#custom-obs-audio.muted {
  color: @red; /* red */
}

#tooltip {
  padding: 2px;
}


.hidden {
  opacity: 0;
}
